* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.top-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: #3e2646;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    font-size: 14px;
    font-weight: bold;
}

.top-bar .left-section {
    flex-grow: 1;
    text-align: left;
}

.top-bar .center-section {
    flex-grow: 1;
    text-align: center;
    font-size: 20px;
}

.top-bar .right-section {
    flex-grow: 1;
    text-align: right;
}

.chat-container {
    width: 99%;
    max-width: 100%; 
    height: 94%;
    max-height: 100%;
    margin-top: 38px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden; 
}

.chat-box {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto; 
    display: flex;
    flex-direction: column;
}

.message {
    padding: 0px 15px;
    border-radius: 15px;
    margin-bottom: 10px;
    max-width: 80%;
    word-wrap: break-word;
}

.user-message {
    align-self: flex-end;
    background-color: #3e2646;
    color: white;
    border-bottom-right-radius: 0;
}

.bot-message {
    align-self: flex-start;
    background-color: #e2e2e2;
    color: #333;
    border-bottom-left-radius: 0;
}

.input-container {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ddd;
    background-color: white;
}

#user-input {
    flex-grow: 1;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 10px 15px;
    outline: none;
    font-size: 16px;
}

button {
    border: none;
    background-color: #3e2646;
    color: white;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin-left: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    background-color: #321f2d;
}